* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdf;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


.my_menue {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(93, 93, 196);
}

.menue {
    display: flex;
    list-style: none;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.menue li {
    padding: 0 15px;
    position: relative;
}

.menue li a {
    color: rgb(66, 202, 138);
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.menue li:hover > a {
    color: blue;
    background-color: rgb(70, 5, 132);
}

.College {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto; 
}


.menue li ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(70, 5, 132);
    width: 150px;
    list-style: none;
}

.menue li:hover ul {
    display: block;
}
#agi {
    margin-top: 60px; 
}

#agi img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin: 40px auto;
    width: fit-content;
    padding: 10px 40px;
    text-align: center;
    font-size: 30px;
    background-color: blanchedalmond;
    border: 2px solid rgb(222, 102, 102);
}


.div_section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.float {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(183, 183, 225);
    padding: 25px;
    width: 300px; 
    min-height: 350px;
    transition: transform 0.3s;
}

.float:hover {
    transform: translateY(-10px);
}

.content-wrapper {
    position: relative;
    padding: 40px 20px;
    background-color: #bdf;
    text-align: center;
}

.contact_us p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact_us img {
    width: 20px;
    height: 20px;
}


.form {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.btn-link {
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(70, 5, 132);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}


@media screen and (max-width: 768px) {
    .menue {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .menue li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .College {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .float {
        width: 90%; 
        margin: 0 auto;
    }

    h1 {
        font-size: 22px;
        width: 90%;
    }
}